html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#map {
  height: 80%;
  display: none;
  margin:20px 10%;
  border: 1px solid #b88b58;
  border-top: 4px solid #b88b58;

}
#map-preloader {
  height: 80%;
  display: none;
  margin:20px 10%;
  border: 1px solid #b88b58;
  border-top: 4px solid #b88b58;
  background: white;
  position: relative;
}
#map-preloader div{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -128px;
}
#map-preloader div img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
}

.map-switch-button{
  background: #DCB386;
  color: white;
  font-weight: bold;

}
.map-switch-button:hover{
  background: #b88b58;
  color: white;
}
.map-switch-button:active{
  background: #784D1D;
  outline: none;
  color: white;
}
.map-switch-button:focus{
  outline: none;
  color: white;
}
