/*
body background #e6e6e6
blocks background #ffffff
header background #262626
header text
top-border #b88b58
*/


body{
  background: #e6e6e6;
  font-size: 10px;
  color: #404040;
}

.global-preloader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background: white;
  opacity: .8;
  z-index: 20;
  display: none;
}

.global-preloader div{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -128px;
}
.global-preloader img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
}
.header-block{
  background: #262626;
  font-size: 300%;
  font-family: 'Bangers', cursive;
  padding: 5px 0 5px 30px;
}
.header-block a,
.header-block a:hover,
.header-block a:active,
.header-block a:focus{
  text-decoration: none;
  color: #b88b58
}

.filters-block{
  margin-top: 20px;
  background: #ffffff;
  width: 100%;
  padding: 20px;
  border-top: 4px solid #b88b58;
}
.city-field{
  margin-bottom: 10px;
  position: relative;
}
.city-options-list{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  position: absolute;
  z-index: 10;
}
.city-options-list li{
  padding: 5px 20px;
  font-size: 150%;
  background: #ffffff;
}

.city-options-list li:nth-child(n+6){
  display: none;
}
.city-options-list li:hover{
  cursor: pointer;
  background: lightyellow;
}


.filtered-cities-list{
    text-align: left;
}
.filtered-cities-list li{
  list-style: none;
  padding: 3px 6px;
  margin: 3px 2px;
  display: inline-block;
  background: #DCB386;
  border-radius: 3px;
  color: white;
  font-size: 150%;
  font-weight: bold;
}
.filtered-cities-list li:hover{
  background: #b88b58;
}

.filtered-cities-list li i{
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  font-size: 120%;
  top:2px;
}
.filtered-cities-list li i:hover{
  color: black;
  cursor: pointer;
}













.filter-button{
  background: #DCB386;
  color: white;
  font-weight: bold;

}
.filter-button:hover{
  background: #b88b58;
  color: white;
}
.filter-button:active{
  background: #784D1D;
  outline: none;
  color: white;
}
.filter-button:focus{
  outline: none;
  color: white;
}

input[name="inc-exc-radio"]{
  position: relative;
  top: 2px;
  margin: 5px;
}
label{
  font-size: 125%;
  font-weight: bold;
  color: #784D1D;
  display: block;
}

.house-type-select{
  margin-top: 10px;
  width: auto;
}




.paginator{
  padding-top: 20px;
  text-align: center;

}
.paginator ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.paginator ul li{
  background: #DCB386;
  color: white;
  font-weight: bold;
  border: 1px solid #b88b58;
  cursor: pointer;
  display: inline-block;
  font-size: 150%;
  padding: 5px 12px;
  margin-left: -1px;
}
.paginator ul li:hover{
  background: #b88b58;
}

.paginator ul li.current-page{
  background: #784D1D ;
}

.paginator ul li:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginator ul li:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.results-block{
  margin-top: 20px;
  background: #ffffff;
  width: 100%;
  border-top: 4px solid #b88b58;
  padding: 20px;
}

.result{
  display: block;
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  color: black;
  padding-left: 2%;
  margin-bottom: 20px;
}

.result:hover,
.result:active,
.result:focus{
  color: black;
}

.result-image{
  width: 100%;
  cursor: pointer;
  transition: .3s;
}
.result-image:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: .3s;
}
.result-city-name{
  font-size: 300%;
  transition: .3s;
  color: black;
}
.result-city-name:hover{
  color: lightblue;
  transition: .3s;
  text-decoration: none;
}
.result-data p,
.result-options p{
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
}

.result-description{
  font-style: italic;
  font-size: 125%;
  margin-top: 15px;
}


.result-link{
  font-size: 125%;
  font-weight: bold;
  text-decoration: underline;
}
.result-link,
.result-link:active,
.result-link:focus{
  color: black;
  transition: .3s;
}
.result-link:hover{
  color: lightblue;
  transition: .3s;
}
.result-prices p{
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
  text-align: right;
  padding-right: 5%;
}
.result-prices p span{
  font-size: 165%;
  margin-left: 10px;
}

.footer-block{
  margin-top: 20px;
  background: #ffffff;
  width: 100%;
  padding: 20px;
  border-top: 4px solid #b88b58;
  font-size: 300%;
  font-family: 'Bangers', cursive;
}

.mdi-arrow-down-bold{
  color: green;
  font-size: 175% !important;
}
.mdi-arrow-up-bold{
  color: red;
  font-size: 175% !important;
}

.mdi-magnify{
  font-size: 150% !important;
  margin-right: 5px;
  font-weight: bold !important;
  position: relative;
  top: 3px;
}
.result-options p .mdi-check,
.result-options p .mdi-close{
  font-size: 175% !important;
  position: relative;
  top: 3px;
  margin-left: 5px;
}
